html {
	height: 100%;
}
 
body {
  padding: 0;
  margin: 0;
  border: 0;
  height: 100%;
  overflow: hidden;
}

table {
	width: 350px;
}

table, td, tr {
	border-collapse: collapse;
}

td, tr {
	border: 1px solid black;
}

.stat-value {
  float: right;
}

#updates-area {
  height: 150px;
  overflow-y: scroll;
}

 
.update-system {
  color: blue;
}

#shop-area {
  height: 90px;
  overflow-y: scroll;
}

.item {
  border: 1px solid black;
}
 
.product {
  float: left;
  margin: 5px;
  padding: 2px;
  border: 1px solid black;
  font-size: 12px;
}
